@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: 36 36 36;
    --color-primary: 29 185 84;
    --color-secondary: 30 215 96;
    --color-light: 255 255 255;
    --color-dark: 18 18 18;
  }
}

body {
  background: linear-gradient(
    rgb(var(--color-background)) 0%,
    rgb(var(--color-dark)) 54%,
    rgb(var(--color-dark)) 100%
  );
  @apply min-h-screen text-light;
}
