@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 0 170 91;
    --color-secondary: 201 253 224;
    --color-accent: 3 172 14;
    --color-dark: 28 82 83;
  }
}